*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  width: 70%;
  margin: 2rem auto 0;
}

.todo label{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 1rem;
  margin-bottom: 0.5rem;
  background: #f6f5f5;
}

.todo.completed span{
  text-decoration: line-through;
}
